---
- name: Dell VLAN Management Demo
  hosts: z9100-01
  gather_facts: false
  connection: network_cli
  collections:
    #- dellemc.os10.os10_config
    - dellemc.enterprise_sonic.sonic_vlans

  tasks:
    - name: Delete VLAN
      dellemc.enterprise_sonic.sonic_vlans:
        config:
          - vlan_id: 10
          - vlan_id: 11
          - vlan_id: 112
        state: deleted
      register: sonic_vlans
